DEVICE_ID="team08smartglasses1"

# InfluxDB configuration
INFLUXDB_TOKEN="your_influxdb_token"
INFLUXDB_ORG="your_influxdb_org"
INFLUXDB_BUCKET="your_influxdb_bucket"
INFLUXDB_URL="your_influxdb_url"

# BROKERS INFO
BROKER_IP="150.140.186.118"
BROKER_PORT=1883
ORION_SUBSCRIPTION_URL="http://150.140.186.118:1026/v2/subscriptions"
ORION_ENTITIES_URL="http://150.140.186.118:1026/v2/entities"

# VMS INFO
VMS_IP="your_vms_ip"
VMS_PORT=7090
VMS_INGESTION_PORT=7091

# VLM INFO
VLM_API_URL="your_vlm_api_url"
VLM_API_KEY="your_api_key"
VLM_MODEL_NAME="your_model_name"

# Google Fit API credentials
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_ACCESS_TOKEN="your_google_access_token"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REFRESH_TOKEN="your_google_refresh_token"