INFLUXDB_TOKEN = "your_influxdb_token"
INFLUXDB_ORG = "your_influxdb_org"
INFLUXDB_BUCKET = "your_influxdb_bucket"
INFLUXDB_URL = "your_influxdb_url"
MODEL = better-sqlite
PORT = 8080
SESSION_SECRET= "your_session_secret"
MQTT_BROKER_IP = "150.140.186.118"
VMS_IP= "your_vms_ip"